.swiper {
  width: 100vw;
  height: 100vh;
  &__background{
    background: radial-gradient(20.46% 33.99% at 0 0,#ff9254 0,rgba(251,188,129,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background: url("../img/img.png");
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swiper-button-prev {
  left: 64px;
}

.swiper-button-disabled{
  opacity:0.5;
}

.swiper-button-next {
  right: 64px;
}